@import '../../assets/styles/variables';

.top-menu {
  background-color: $blue;
  height: 60px;

  .top-menu__logo-wrap {
    align-items: center;
    display: flex;
    float: left;
    height: 100%;
    padding-left: 20px;
  }

  .top-menu__logo {
    background-image: url('../../assets/images/logo-walmart.svg');
    background-size: cover;
    display: inline-block;
    height: 41px;
    width: 174px;
  }
}
