<nav class="side-menu">
  <div class="side-menu__header" [ngPlural]="getTotalAmount(products)">
    Meu carrinho
    <ng-template ngPluralCase="=1">
      (1 item)
    </ng-template>
    <ng-template ngPluralCase="other">
      ({{ getTotalAmount(products) }} itens)
    </ng-template>
  </div>
  <ul class="side-menu__list">
    <li *ngFor="let product of products" class="side-menu__list-item u-cf">
      <div class="pull-left">
        <img [src]="product.image" class="side-menu__list-image">
      </div>
      <div class="pull-left side-menu__text">
        <div class="text-blue truncate side-menu__caption">{{ product.title }}</div>
        <span class="text-grey">Quantidade: {{ product.amount }}</span>
      </div>
      <div class="pull-right side-menu__remove">
        <span (click)="remove(product)" class="text-red">
          <i class="fa fa-times"></i>
        </span>
      </div>
    </li>
  </ul>
</nav>
