@import '../../assets/styles/variables';

.container::after,
.row::after,
.u-cf {
  clear: both;
  content: '';
  display: table;
}

.text-center {
  text-align: center;
}

.text-strike {
  text-decoration: line-through;
}

.text-grey {
  color: $grey;
}

.text-green {
  color: $green;
}

.font-sm {
  font-size: 11px;
}

.font-md {
  font-size: 16px;
}

.hidden {
  display: none !important;
}

.abs-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.truncate-v {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inline-block {
  display: inline-block;
}

.m-bottom-sm {
  margin-bottom: 15px;
}

.m-bottom-md {
  margin-bottom: 20px;
}

.p-bottom-xs {
  padding-bottom: 10px;
}
